<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户注册</title>
	<style>
		.form-box{
			width: 500px;
		}
		.errMes{
			color: red;
			font-size: 12px;
			/*display: none;*/
		}
		.errMes>span{
			color: #ccc;
		}
		.btn{
			cursor: pointer;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
	<div id="form-submit" class="form-box">
		<form v-on:submit.prevent="addUser">
			<div class="input-box">
				<input type="text" placeholder="用户名" v-model="newUser.name">
				<p v-show="!validation.name" class="errMes">请填写用户名<span>(字母、数字或者中文，区分大小写)</span></p>
			</div>
			<div class="input-box">
				<input type="password" placeholder="密码" v-model="newUser.password">
				<p v-show="!validation.password" class="errMes">请填写密码<span>(字母或数字，最短8位，区分大小写)</span></p>
			</div>
			<div class="input-box">
				<input type="password" placeholder="确认密码" v-model="newUser.checkpass">
				<p v-show="!validation.checkpass" class="errMes">请再次输入新密码</p>
			</div>
			<div class="input-box">
				<input type="text" placeholder="邮箱" v-model="newUser.email">
				<p v-show="!validation.email" class="errMes">请输入正确的邮箱地址</p>
			</div>
			<div class="input-box">
				<input type="text" placeholder="请输入手机号" v-model="newUser.telphone">
				<span @click="getMess" class="btn">{{btntext}}</span>
				<p v-show="!validation.telphone" class="errMes">请输入正确的手机号</p>
			</div>
			<div class="input-box">
				<input type="text" placeholder="手机验证码" v-model="newUser.message">
				<p v-show="!validation.message" class="errMes">手机验证码错误</p>
			</div>
			<div class="submit-box">
				<input type="submit" value="注册">
			</div>
		</form>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script>
		var nameRE =/^([\u4e00-\u9fa5a-zA-Z0-9]+)$/; //验证用户名格式
		var emailRE = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; //验证邮件格式
		var passRE = /^([a-zA-Z0-9]+)$/; //验证密码
		var telRE = /^1[34578]\d{9}$/; //验证手机号格式
		var mesRE = /^\d{6}$/; //验证码为6位数字
		var flag = true;
		var submit = new Vue({
			el: "#form-submit",
			data:{
				newUser: {
			      name: '',
			      password: '',
			      checkpass: '',
			      email: '',
			      telphone: '',
			      message: ''
			    },
			    btntext: '请输入手机验证码'
			},
			computed: {
				validation: function () {
					return {
				        name: !!this.newUser.name && nameRE.test(this.newUser.name),
				        password: !!this.newUser.password && passRE.test(this.newUser.password) && this.newUser.password.length>=8,
				        checkpass: !!this.newUser.checkpass && this.newUser.checkpass === this.newUser.password,
				        email: !!this.newUser.email && emailRE.test(this.newUser.email),
				        telphone: !!this.newUser.telphone && telRE.test(this.newUser.telphone),
				        message: !!this.newUser.message && mesRE.test(this.newUser.message)
				    }
			    },
			    isValid: function () {
			      var validation = this.validation
			      	return Object.keys(validation).every(function (key) {
				       	return validation[key] 
				    })
			    }
			},
			methods: {
				getMess: function() {
					var time = 3;
					if( flag ){
						flag = false;
						var t = setInterval(function() {
							submit.btntext = time + '秒后重新获取';
							time--;
							if(time<0){
								clearInterval(t)
								submit.btntext = '请输入手机验证码';
								flag = true;
							}
						}, 1000);
					}
				},
				addUser: function () {
			      if (this.isValid) {
			        // this.newUser.name = ''
			        // this.newUser.password = ''
			        // this.newUser.telphone = ''
			        // this.newUser.email = ''
			      }
			    },
			    removeUser: function (user) {
			      // usersRef.child(user['.key']).remove()
			    }
			}
		})
	</script>
</body>
</html>
